@model GamePool2016.Models.LeaderboardViewModel

@{
    ViewBag.Title = "Leaderboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>


@using (Html.BeginForm())
{
    <div>
        <table width="100%">
            <tr>
                <td>
                    My Pools:
                    @Html.DropDownListFor(model => model.SelectedPoolId, Model.Pools, new { onchange = "this.form.submit();" })
                </td>
                <td align="right">
                    <button value="Refresh" onclick="this.form.submit()">Refresh</button>
                </td>
            </tr>
        </table>
        
    </div>
    

    <table class="table">
        <tr>
            <th>
                Rank
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players.First().UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players.First().PoolScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players.First().LostPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players.First().PossiblePoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players.First().WinPercent)
            </th>

        </tr>

        @for (int i = 0; i < Model.Players.Count; i++)
        {
            <tr @(((i % 2) == 1) ? "bgcolor=lightblue" : "")>
                <td>
                    @(i + 1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Players[i].UserName)
                </td>
                @if (Model.Players[i].IsValid)
                    {
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Players[i].PoolScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Players[i].LostPoints)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Players[i].PossiblePoints)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Players[i].WinPercent)
                    </td>
                }
                else
                {
                    <td colspan="4"><a style="color:red">SELECTIONS INVALID</a></td>
                }

            </tr>
        }

    </table>

}