@model GamePool2016.Models.MyPicksViewModel
@{
    ViewBag.Title = "My Picks";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@functions {
    public string GetGamePercent(int usersPicked)
    {
        int result = ((int)(((double)usersPicked / (double)Model.PlayersInPool) * 100));
        return result.ToString() + "%";
    }
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm())
{
    <div>
        <table width="100%">
            <tr>
                <td>
                    Select a pool:
                    @Html.DropDownListFor(model => model.SelectedPoolId, Model.Pools, new { onchange = "this.form.submit();" })
                </td>
                <td align="right">
                    @if (!Model.IsLocked)
                    {
                        <button value="Save" onclick="this.form.submit()">Save Changes</button>
                    }
                </td>
            </tr>
        </table>

    </div>

    if (Model.IsValid)
    {
        <div>
            <img src="~/Images/GreenCheck.png" width="60px" />
            Selections are valid!
        </div>
    }
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Player.Id);

    <div  class="table-responsive">
        <table style="width:100%">

            @for (int i = 0; i < Model.Games.Count; i++)
            {
                @Html.HiddenFor(model => Model.Games[i].Id)
                @Html.HiddenFor(model => Model.Games[i].WinnerTeamId)
                if (!Model.IsLocked)
                {
                    string homeImageId = "Games_" + i + "__HomeImage";
                    string awayImageId = "Games_" + i + "__AwayImage";
                    <tr @(((i % 2) == 1) ? "bgcolor=lightblue" : "")>
                        <td><b>@Html.ValueFor(model => Model.Games[i].PoolGame.Game.Description)</b>  (@Html.ValueFor(model => Model.Games[i].PoolGame.Game.GameDateTime))</td>
                        <td>@Html.ValueFor(model => Model.Games[i].PoolGame.Game.Network)</td>
                    </tr>
                    <tr @(((i % 2) == 1) ? "bgcolor=lightblue" : "")>
                        <td>
                            <a onclick="var winnerTeamId = 'Games_' + @i + '__WinnerTeamId';
                           var homeimgId = '@homeImageId';
                           var awayimgId = '@awayImageId';
                           document.getElementById(homeimgId).src = '/Images/ic_thumb_up.png';
                           document.getElementById(awayimgId).src = '';
                           document.getElementById(winnerTeamId).value = '@Model.Games[i].PoolGame.Game.HomeTeamId'" style="cursor: pointer;">
                                @Model.Games[i].PoolGame.Game.HomeTeam.Description
                            </a>

                            @if (Model.Games[i].WinnerTeamId == Model.Games[i].PoolGame.Game.HomeTeamId)
                            {

                                <image id='@homeImageId' src="/Images/ic_thumb_up.png"></image>
                            }
                            else
                            {
                                <image id='@homeImageId'></image>
                            }

                        </td>
                        <td>@Html.TextBoxFor(model => Model.Games[i].Confidence, new { style = "width:45px" })</td>
                    </tr>
                    <tr @(((i % 2) == 1) ? "bgcolor=lightblue" : "")>
                        <td>
                            <a onclick="var winnerTeamId = 'Games_' + @i + '__WinnerTeamId';
                           var homeimgId = '@homeImageId';
                           var awayimgId = '@awayImageId';
                           document.getElementById(awayimgId).src = '/Images/ic_thumb_up.png';
                           document.getElementById(homeimgId).src = '';
                           document.getElementById(winnerTeamId).value = '@Model.Games[i].PoolGame.Game.AwayTeamId'" style="cursor: pointer;">
                                @Model.Games[i].PoolGame.Game.AwayTeam.Description
                            </a>
                            @if (Model.Games[i].WinnerTeamId == Model.Games[i].PoolGame.Game.AwayTeamId)
                            {
                                <image id='@awayImageId' src="/Images/ic_thumb_up.png"></image>
                            }
                            else
                            {
                                <image id='@awayImageId'></image>
                            }
                        </td>
                        <td></td>
                    </tr>
                }
                else
                {
                    <tr @(((i % 2) == 1) ? "bgcolor=lightblue" : "")>
                        <td><b>@Html.ValueFor(model => Model.Games[i].PoolGame.Game.Description)</b>  (@Html.ValueFor(model => Model.Games[i].PoolGame.Game.GameDateTime))</td>
                        <td>@Html.ValueFor(model => Model.Games[i].PoolGame.Game.Network)</td>
                        <td></td>
                    </tr>
                    <tr @(((i % 2) == 1) ? "bgcolor=lightblue" : "")>
                        <td>
                            @Html.ValueFor(model => Model.Games[i].PoolGame.Game.HomeTeam.Description)
                            @if (Model.Games[i].PoolGame.Game.IsGameFinished)
                            {
                                if (Model.Games[i].PoolGame.Game.HomeScore > Model.Games[i].PoolGame.Game.AwayScore)
                                {
                                    <a style="color:green">@Model.Games[i].PoolGame.Game.HomeScore</a>
                                }
                                else
                                {
                                    <a style="color:red">@Model.Games[i].PoolGame.Game.HomeScore</a>
                                }
                            }
                            @if (Model.Games[i].WinnerTeamId == Model.Games[i].PoolGame.Game.HomeTeamId)
                            {
                                <image src="/Images/ic_thumb_up.png"></image>
                            }

                        </td>
                        <td>
                            My Rank: @Html.ValueFor(model => Model.Games[i].Confidence)<br />
                        </td>
                        <td>
                            <div title="Percentage of players who picked this team">@GetGamePercent(Model.Games[i].PoolGame.HomeSelectedCount)</div>
                        </td>
                    </tr>
                    <tr @(((i % 2) == 1) ? "bgcolor=lightblue" : "")>
                        <td>
                            @Html.ValueFor(model => Model.Games[i].PoolGame.Game.AwayTeam.Description)
                            @if (Model.Games[i].PoolGame.Game.IsGameFinished)
                            {
                                if (Model.Games[i].PoolGame.Game.HomeScore < Model.Games[i].PoolGame.Game.AwayScore)
                                {
                                    <a style="color:green">@Model.Games[i].PoolGame.Game.AwayScore</a>
                                }
                                else
                                {
                                    <a style="color:red">@Model.Games[i].PoolGame.Game.AwayScore</a>
                                }
                            }
                            @if (Model.Games[i].WinnerTeamId == Model.Games[i].PoolGame.Game.AwayTeamId)
                            {
                                <image src="/Images/ic_thumb_up.png"></image>
                            }
                        </td>
                        <td>
                            My Points:
                            @if (Model.Games[i].PointsEarned > 0)
                            {
                                <a style="color:green">@Model.Games[i].PointsEarned</a>
                            }
                            else
                            {
                                <a style="color:red">@Model.Games[i].PointsEarned</a>
                            }
                        </td>
                        <td>
                            <div title="Percentage of players who picked this team">@GetGamePercent(Model.Games[i].PoolGame.AwaySelectedCount)</div>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <table width="100%">
        <tr>
            <td align="right">
                @if (!Model.IsLocked)
                {
                    <button value="Save" onclick="this.form.submit()">Save Changes</button>
                }
            </td>
        </tr>
    </table>

}

